<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/messages.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="content-app">
        <div id="content" style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">  </div>

        <div class="controls">
            Name: 
            <input id="name" style="width:350px;" control-id="ControlID-1">
            <br>
            meessage:
            <input id="field" style="width:350px;" control-id="ControlID-2">
            <input id="send" type="button" value="send" control-id="ControlID-3">
        </div>     
    </div>
</body>
</html>