<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/messages.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <nav>
        <div class="user-input"> <span class="icon"></span> <input id="name" value=""> </div>
    </nav>
    <div class="content-app">
        <div id="content">  </div>

        <div class="controls">
            <input id="field" type="text" placeholder="Message"">
            <input id="send" type="button" value="send">
        </div>     
    </div>
</body>
</html>