*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
}

.content-logo{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #bb91f8;
    transition: all 1s;
}

img{
    width: 35px;
    position: absolute;
    transform: translate(30%, 40%);
    margin-right: 5px;
    cursor: pointer;
}

@keyframes Opening {
    0%{
        border: 1px dashed #bb91f8;
    }
    50%{
        border: 1px dashed #bb91f8;
    }
    100%{
        transform: rotate(540deg);
    }
}